{% extends 'base.html' %}

{% block content %}
<title>Shift Production Managers Rota</title>

<div class="w3-display-topleft w3-padding-large w3-xlarge w3-animate-top">
        Shift Production Managers Rota
    </div>
<div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top"></h1>
            <div id="oncall" class="w3-center">
                    <p class="w3-center">On Call Times</p>
            {% for item in dates %}
                <h3>{{item.startdate}} - {{item.enddate}} </h3>
                <h4>{{item.employee}}</h4>
                <p>{{item.employee.mobile}}</p>
                <p>{{item.employee.email}}</p>
                <p>{{item.deskphone}} - {{item.deskphone.phone}}</p>
                <hr class="w3-border-grey" style="margin:auto;width:40%">
            {% endfor %}
 
        <hr class="w3-border-grey" style="margin:auto;width:40%">

        <hr class="w3-border-grey" style="margin:auto;width:40%">

            </div>

            <div>
                All Contact Details
                {% for member in members %}
                    <h4>{{member.firstname}} {{member.surname}}</h4><h3>{{member.mobile}}</h3>
                    
                   
                    {{member.email}}
                    <hr>
                {% endfor %}
                </div>
    
</div>








{% endblock %}